
/* TERMINAL */
VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 10px;
}

/* XFCE PANEL */
.xfce4-panel {
    border-radius: 10px;
}

#pager-4 .horizontal {
    font-weight: bold;
    background-color: #303030;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}
#pager-4 #xfce-panel-toggle-button:checked {
    background-color: #f0544c;
    color: #000000;
    border-radius: 4px;
}

#pager-4 #xfce-panel-toggle-button:hover { 
    border-radius: 4px;
}

#xfce4-notification-plugin {
    background-color: #303030;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}
#xfce4-notification-plugin:checked {
    background-color: #5a5a5a;
}

#sn-button {
    background-color: #303030;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}
#sn-button:checked {
    background-color: #5a5a5a;
}

#indicator-button {
    background-color: #303030;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}
#indicator-button:checked {
    background-color: #5a5a5a;
}

#pulseaudio-button {
    background-color: #303030;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}
#pulseaudio-button:checked {
    background-color: #5a5a5a;
}

#clock-button {
    font-size: 18px;
    background-color: #303030;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}
#clock-button:checked {
    background-color: #5a5a5a;
}

#xfce-panel-button image {
    color: #e06b74;
    -gtk-icon-transform: scale(1);
}

